<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    

</head>
<body>
    <div class="container">
    <h1>Hey, This is Good News. It's Working</h1>

    <p>This is new paragraph</p>
    <p>For the dynamic entry we should use inside the angle we use %% two percantage after the percantage we use equal sign after that we write the contant what we want print dynamic</p>
    <p>I am also giving example. In First paragraph paragraph change in new paragraph.</p>
    <p>If we don't want to print dynamic. we should use normal html.</p>
    </div>
</body>
</html>